{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block inputbox %}
        <span class="text-center img-responsive"><img src="http://img.ui.cn/data/file/0/2/7/74720.gif"></span>
    <form action="/create/domain" method="get">
    <div class="input-group">
            <span class="input-group-addon"><i class="icon-globe"></i></span>
            <input type="text" class="form-control" name="q" placeholder="请输入企业一级域名，如：site.com ,请勿恶意添加数据(｀･ω･´)">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">添加</button>
            </span>
    </div>
    </form>
    <br>
{% endblock %}
{% block result %}
    {% if result %}
       <div class="panel panel-danger">
    <div class="panel-heading panel-danger">结果:</div>
        <div class="panel-body"><a target="_blank" href="/domain/search?q={{ domain }}">{{ domain }}{{ result }}</a></div>
        </div>
{% endif %}
{% endblock %}